
#container{
   display: flex; 
   flex-direction: column;
   margin: 5px;
}
#skillsContent{
    flex: 1;
}
#educationContent{
    flex: 1;
    
}
#locationContent{
    border: 5px;
    float: right;
    
}
#postionContent{
   float: left;
   clear: left;
    
}
#companyContent{
    float: left;
    clear: left;
}
#timePeriod{
    border: 5px;
    float: right;
    
}


.experince{
    flex: 1;
}
.listContent{
    float: left;
    clear: left;
}