
#container{
   display: flex; 
   flex-direction: column;
   margin: 10;
}
#skillsContent{
    flex: 1;
}
#educationContent{
    flex: 1;
    
}
#locationContent{
    float: right;
    
}
#postionContent{
    
    
}
#companyContent{
    float: left;
    clear: left;
}
#timePeriod{
    float: right;
    
}

.experince{
    flex: 1;
}