body{
    background-color: blue;
}
#container{
   display: flex; 
   flex-direction: column;
   background-color: darkgray;
   padding: 10px;
   margin: auto;
}
#skillsContent{
    flex: 1;
}
#educationContent{
    flex: 1;
    
}
#locationContent{
    flex: 1;
    border: 5px;
    float: right;
    width: max-content;

}
#postionContent{
    flex: 1;
   float: left;
   clear: left;
   font-weight: bold;
    
}
#companyContent{
    float: left;
    clear: left;
    font-weight: bold;
}
#timePeriod{
    border: 5px;
    float: right;
    width:max-content;
    
    
}
#picture{
    float: right;
    clear: right;
}
#projectListContent{
    float: left;
    clear: left; 
    width: 75%;
}
h4{
    float: left;
    clear: left;
}


.experince{
    flex: 1;
}
.listContent{
    float: left;
    clear: left;
    width: 75%;
}